@model MicrosoftDynamics365Sales.ViewModels.CreateContactViewModel
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Contact</h2>
@using (Html.BeginForm("CreateContact", "Contacts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mobile)
        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-default">Reset</button>
    <button type="submit" class="btn btn-success">Create</button>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


