@model List<MicrosoftDynamics365Sales.ViewModels.ContactViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20);

}

<h2>Contacts</h2>
<hr />
<a class="btn btn-success" href="~/Contacts/CreateContact">New Contact</a>
<br /><br />
<div class="row">
    @grid.GetHtml(
        tableStyle: "table table-responsive table-striped table-bordered",
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        columns: grid.Columns(
            grid.Column(header: "First Name",
            format: @<text>
                    <div class="editFirstName" data-id="@item.ContactId" data-propertyname="FirstName">@item.FirstName</div></text>),
grid.Column(header: "Last Name",
format:@<text>
    <div class="editLastName" data-id="@item.ContactId" data-propertyname="LastName">@item.LastName</div></text>),
grid.Column(header: "Email Address",
format:@<text>
    <div class="editEmail" data-id="@item.ContactId" data-propertyname="Email"></div>@item.Email</text>),
grid.Column(header: "Mobile",
format:@<text>
    <div class="editMobile" data-id="@item.ContactId" data-propertyname="Mobile">@item.Mobile</div></text>),


grid.Column(format:@<span class="link"><input class="label" type="hidden" value="@item.ContactId" /><a class="Delete" href="javascript:;">Delete</a></span>)


)
)
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    //Delete event handler.
    //Delete event handler.
        $("body").on("click", "#WebGrid TBODY .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var contactId = row.find(".label").val();
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/Contacts/DeleteContact/",
                    data: JSON.stringify({ contactId: contactId }),
                    //data: '{contactId: ' + contactId + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#WebGrid TBODY tr").length == 1) {
                            row.find(".label").html("");
                            row.find(".text").val("");
                            row.find(".link").hide();
                        } else {
                            row.remove();
                        }
                    }
                });
            }
        });
</script>
<style>
    .saveButton {
        margin-left: 5px;
    }

    .widthSave {
        width: 100px;
    }
</style>

@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>

    <script>
        //First Name Edit JQuery
        $(document).ready(function () {
            var oldValue = '';
            $('.editFirstName').editable('/Contacts/EditContact', {
                cssclass: 'jeditForm',
                tooltip: 'Click me to edit',
                width: 'none',
                height: 'none',
                submit: 'Save',
                cancel: 'Cancel',
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else {
                        $(this).text(oldValue);
                    }
                }
            });
            $('.editFirstName').click(function () {
                $('select', this).addClass('from-control pull-left widthSave');
                $('button', this).addClass('btn btn-sm btn-info saveButton');

            })
        })
        //Mobile Edit JQuery
        $(document).ready(function () {
            var oldValue = '';
            $('.editMobile').editable('/Contacts/EditContact', {
                cssclass: 'jeditForm',
                tooltip: 'Click me to edit',
                width: 'none',
                height: 'none',
                submit: 'Save',
                cancel: 'Cancel',
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else {
                        $(this).text(oldValue);
                    }
                }
            });
            $('.editMobile').click(function () {
                $('select', this).addClass('from-control pull-left widthSave');
                $('button', this).addClass('btn btn-sm btn-info saveButton')
            })
        })
    </script>

}

